<tr>
    <th class="col-md-2">Debit / Credit</th>
    <th class="col-md-4">Account Description</th>
    <th class="col-md-2"> Item Type</th>
    <th class = 'new-field col-md-2 jrnl-source-field' style = 'display: none;'>
             	Journal Source
             </th>
    <th class = 'new-field col-md-2 jrnl-category-field' style = 'display: none;'>
             	Journal Category
             </th>
    <th class = 'new-field col-md-2 defaults-from-field' style = 'display: none;'> Defaults from</th>
    <th class="col-md-1"> More</th>
</tr>