{% extends 'base.html' %}

{% load staticfiles %}
	{% block title %} P2P Accounting {% endblock %}

	{% block side_block %}
		<div>
			<h4><span class="label label-default">Item Type</span> </h4>
			 <select class="form-control">
				  <option>Expense</option>
				  <option>Inventory</option>
			</select>
		</div>
	{% endblock %}


{% block body_block %}
	<h1>P2P Accounting</h1>
	<div id = 'options'>
		
	</div>

	<div id = 'main-container'>
		
		<div id = 'accounting_enty'>
			<div id = 'header'> </div>
			<div id = 'entry'>
				<div class="panel panel-primary">
				
				 	<div class="panel panel-info">
				 		<div class="panel-heading">
				 			<h3 class="panel-title">PO Receipt</h3>
				 		</div>
						<table class="table table-bordered table-hover">
							<tr>
								<th>Debit / Credit</th>
								<th>Account Description</th>
								<th>Entry for</th>
								<th> Item Type</th>	
							</tr>
							{% for entry in po_receipt_accting %}
							<tr>
								<td>{{entry.dr_cr}}</td>
								<td>{{entry.account_description}}</td>
								<td>{{entry.accounting_entry}}</td>
								<td>{{entry.item_type}}</td>
							</tr>
							{% endfor %}
						</table>
					</div>
					<div class="panel panel-info">
					 	<div class="panel-heading">
					 		<h3 class="panel-title">PO Deliver</h3>
					 	</div>
						<table class="table table-bordered table-hover">
							<tr>
								<th>Debit / Credit</th>
								<th>Account Description</th>
								<th>Entry for</th>
								<th> Item Type</th>	
							</tr>
							{% for entry in po_deliver_accting %}
							<tr>
								<td>{{entry.dr_cr}}</td>
								<td>{{entry.account_description}}</td>
								<td>{{entry.accounting_entry}}</td>
								<td>{{entry.item_type}}</td>
							</tr>
							{% endfor %}
						</table>
					</div>
				</div>
				</div>	
			</div>  <!-- id =accounting_entry-->
	</div>
{% endblock %}